*{
    margin: 0;
    padding: 0;
}
html, body{
    overflow-x: hidden;
    width: 100%;
}



.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: none;
  position: relative;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
  content: "×";
  font-size: 30px;
  line-height: 1;
  color: black;
}







@media (max-width: 576px){
     .carousel-caption {
         bottom: 20px;
     }
      .carousel-caption h5{
         font-size: 14px;
     }
     .carousel-caption .btn{
         font-size: 14px;
         padding: 8px 15px;
         margin-top: 15px;
     }

}


img{
    max-width: 100%;
}
.carousel-caption {
    top: 22%;
    left: 2% !important;
    bottom: auto;
    text-align: left;
    font-weight: bold;
}
    
.carousel-caption h5{
     color: #0f2c1d;
    font-size: 40px;
}
.carousel-caption p{
    color: #0f2c1d;
    font-size: 15px;

}
.carousel-item{
    height: 680px;
}
.carousel-item img{
    height: 500px;
    width: 100%;
    display: block;
    object-fit: cover;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
    width: 50px;
    height: 50px;
    background: green;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
i{
    font-size: 20px;
    color: #198754;

}
    .contact{
        background-color: #f4f7f5;
        padding: 50px 0;
    }
.booking{
    background-color: #f4f7f5;
     padding: 50px 0;
}